/* .menu {
    width: 1400px;
} */

.menu_container {
    width: 640px;
    margin: 0 auto;
    padding-left: 0;
    
}

.header_menu_item {
    display: inline-block;
    margin-right: 71px;
    padding-block: 32px;
}

a:link {
    text-decoration: none;
}

.header_menu_link {
    color: black;
}

.picture_block {
    background-color: #00BDC9;
    text-align: center;
    padding-block: 92px;
}

.text_content {
    width: 856px;
    margin: 0 auto;
}

.only_header {
    margin-top: 88px;
    text-align: center;
    font-size: 48px;
}

.description {
    margin-top: 40px;
    text-align: left;
    font-size: 21px;
    line-height: 31.5px;
    color: #161616;
    
}

.highlighted_text {
    color: #04959E    ;
}

.items_container {
    margin-top: 24px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.main_content_items {
    padding-left: 0px;
    line-height: 27px;  
}

.main_content_item {
    text-align: left;
    font-size: 18px;
    color: #161616;
    margin-top: 0;
}

.only_button {
    width: 145px;
    height: 44px;
    background-color: #04959E;
    border: none;
    margin-left: 379.5px;
    text-align: center;
    margin-bottom: 98px;
}

.button_link {
    color: white;
    font-size: 18px;
}

.line {
    height: 1px;
    color: #161616;
}

.footer_container {
    text-align: center;
}

.footer_text {
    font-size: 18px;
    line-height: 27px;
}